.bg-red { background-color: #ff0000 !important; }
.bg-gray { background-color: #808080 !important; }
.bg-gray-light { background-color: #cac7c7 !important; }
.bg-purple { background-color: #800080 !important; }
.bg-pink { background-color: #ff69b4 !important; }
.bg-lime { background-color: #00ff00 !important; }
.bg-teal { background-color: #008080 !important; }
.bg-orange { background-color: #ffa500 !important; }
.bg-navy { background-color: #000080 !important; }
.bg-gold { background-color: #ffd700 !important; }
.bg-beige { background-color: #f5f5dc !important; }
.bg-brown { background-color: #a52a2a !important; }
.bg-coral { background-color: #ff7f50 !important; }
.bg-ivory { background-color: #fffff0 !important; }
.bg-khaki { background-color: #f0e68c !important; }
.bg-lavender { background-color: #e6e6fa !important; }
.bg-lightblue { background-color: #add8e6 !important; }
.bg-maroon { background-color: #800000 !important; }
.bg-olive { background-color: #808000 !important; }
.bg-silver { background-color: #c0c0c0 !important; }
.bg-turquoise { background-color: #40e0d0 !important; }
.bg-violet { background-color: #ee82ee !important; }
.bg-yellowgreen { background-color: #9acd32 !important; }
.bg-salmon { background-color: #fa8072 !important; }
.bg-lightcoral { background-color: #f08080 !important; }
.bg-palegreen { background-color: #98fb98 !important; }
.bg-skyblue { background-color: #87ceeb !important; }
.bg-plum { background-color: #dda0dd !important; }
.bg-sienna { background-color: #a0522d !important; }
.bg-midnightblue { background-color: #191970 !important; }
.bg-crimson { background-color: #dc143c !important; }
.bg-darkgreen { background-color: #006400 !important; }
.bg-darkorange { background-color: #ff8c00 !important; }
.bg-lightgray { background-color: #d3d3d3 !important; }
.bg-aqua { background-color: #00ffff !important; }
.bg-chocolate { background-color: #d2691e !important; }
.bg-firebrick { background-color: #b22222 !important; }
.bg-gainsboro { background-color: #dcdcdc !important; }
.bg-indigo { background-color: #4b0082 !important; }
.bg-lemonchiffon { background-color: #fffacd !important; }
.bg-mintcream { background-color: #f5fffa !important; }
