/* DocumentList.css */
ul {
    list-style-type: none;
    padding: 0;
}

/* li {
    padding: 15px;
    margin: 10px 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
} */

h3 {
    margin: 0;
    color: #333;
}

p {
    margin: 5px 0;
    color: #666;
}

i {
    font-size: 12px;
    color: #999;
}
