.text-red { color: #ff0000 !important; }
.text-gray { color: #808080 !important; }
.text-gray-light { color: #cac7c7 !important; }
.text-purple { color: #800080 !important; }
.text-pink { color: #ff69b4 !important; }
.text-lime { color: #00ff00 !important; }
.text-teal { color: #008080 !important; }
.text-orange { color: #ffa500 !important; }
.text-navy { color: #000080 !important; }
.text-gold { color: #ffd700 !important; }
.text-beige { color: #f5f5dc !important; }
.text-brown { color: #a52a2a !important; }
.text-coral { color: #ff7f50 !important; }
.text-ivory { color: #fffff0 !important; }
.text-khaki { color: #f0e68c !important; }
.text-lavender { color: #e6e6fa !important; }
.text-lightblue { color: #add8e6 !important; }
.text-maroon { color: #800000 !important; }
.text-olive { color: #808000 !important; }
.text-silver { color: #c0c0c0 !important; }
.text-turquoise { color: #40e0d0 !important; }
.text-violet { color: #ee82ee !important; }
.text-yellowgreen { color: #9acd32 !important; }
.text-salmon { color: #fa8072 !important; }
.text-lightcoral { color: #f08080 !important; }
.text-palegreen { color: #98fb98 !important; }
.text-skyblue { color: #87ceeb !important; }
.text-plum { color: #dda0dd !important; }
.text-sienna { color: #a0522d !important; }
.text-midnightblue { color: #191970 !important; }
.text-crimson { color: #dc143c !important; }
.text-darkgreen { color: #006400 !important; }
.text-darkorange { color: #ff8c00 !important; }
.text-lightgray { color: #d3d3d3 !important; }
.text-aqua { color: #00ffff !important; }
.text-chocolate { color: #d2691e !important; }
.text-firebrick { color: #b22222 !important; }
.text-gainsboro { color: #dcdcdc !important; }
.text-indigo { color: #4b0082 !important; }
.text-lemonchiffon { color: #fffacd !important; }
.text-mintcream { color: #f5fffa !important; }
